version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram_bot_app
    restart: always
    env_file:
      - .env
    volumes:
      - /Users/val-kiel/.ssh/aurora_aeza:/aurora_aeza
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: telegram_bot_db
    restart: always
    environment:
      POSTGRES_USER: bot
      POSTGRES_PASSWORD: botpassword
      POSTGRES_DB: botdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
